.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 24%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(111, 169, 169);
}

.list-items li {
  font-size: 2em;
  list-style: none;
  color: hsl(0, 0%, 33%);
  text-align: center;
  margin: 0;
}

.list-items li:hover {
  color: hsl(0, 0%, 63%);
  cursor: pointer;
}